body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	background: url(img/test.svg) fixed no-repeat;
     -webkit-background-size: Auto 200px;
     -o-background-size: Auto 200px;
     -moz-background-size: Auto 200px;
     background-size: Auto 200px;
	background-color:#003803;
	background-position: center 100px;
}

body h1 {
	font-family: 'Lato', sans-serif;
}

.row {
	margin-right: 0px;
	margin-left: 0px;
}

h1 {
	color:#AA5300;
}

.main_content {
	margin-top: 200px;
}

.articles {
	margin-top: 100px;
}