---
layout: default
category: index
---

<div class="col-md-9 articles well">
       {% for post in site.posts %}
       <div class="row">
       	<h1>Review of {{post.title}} <small class="pull-right">by {{ post.author }} {{ post.date | date_to_string }}</small> </h1>
       </div>
       <div class="row">
       	<div class="col-md-4">
       		<img src="/img/{{ post.img }} " class="img-responsive img-rounded" alt="Responsive image"><br>
       		<div class="progress">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{post.grade1}}" aria-valuemin="0" aria-valuemax="100" style="width: {{post.grade1}}%">
  </div>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{post.grade2}}" aria-valuemin="0" aria-valuemax="100" style="width: {{post.grade2}}%">
  </div>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{post.grade3}}" aria-valuemin="0" aria-valuemax="100" style="width: {{post.grade3}}%">
  </div>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{post.total}}" aria-valuemin="0" aria-valuemax="100" style="width: {{post.total}}%">
  </div>
</div>
       	</div>
       	<div class="row col-md-8">
       		{{ post.content }}
       	</div>

        
       </div>
       <div class="row col-md-12">
        <div class="pull-right">
        <a target="_blank" title="Twitter" href="https://twitter.com/share?url={{ post.url }}&text=hello&via=ThomasBredillet" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=700');return false;"><img src="/img/twitter_icon.png" alt="Twitter" /></a>
        <a target="_blank" title="Facebook" href="https://www.facebook.com/sharer.php?u={{ post.url }}&t=hello" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=500,width=700');return false;"><img src="/img/facebook_icon.png" alt="Facebook" /></a>
        <a target="_blank" title="Google +" href="https://plus.google.com/share?url={{ post.url }} &hl=fr" rel="nofollow" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=450,width=650');return false;"><img src="/img/gplus_icon.png" alt="Google Plus" /></a>
      </div>
      </div>

	
      {% endfor %}

</div>
<div class="col-md-3 home-sidebar col-md-offset-9" data-spy="affix">
	<img src="/img/062B00.svg" class="img-responsive img-rounded" alt="Responsive image"><br>
	<ul class="nav nav-list">
		{% for category in site.data.categories %}
		<li><a href="/">{{category.desc}}</a></li>
      {% endfor %}
  </ul>
  </div>

</div>