<!DOCTYPE html>
<html>
  <head>
    {{> assets/css}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id="main-container">
      <div class="row">
        <div class="col-md-offset-3 col-md-8 content">
          {{{body}}}
        </div>
      </div>
    </div>

    {{> assets/js}}
  </body>
</html>