<!DOCTYPE html>
<html>
  <head>
    {{> assets/css}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
  	
  	<div class="row">
  		{{> shared/header}}  
  	</div>

    <div class="row full-screen">
    	 {{{body}}}
    </div>

    <div class="row">
  		{{> shared/footer}}  
  	</div>

    {{> assets/js}}
  </body>
</html>