
<nav class="navbar navbar-inverse" role="navigation">

<div class="col-md-offset-1 col-md-10"> 

  <div class="navbar-header navbar-right">
    <a class="navbar-brand" href="/">The Finest Life.</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      {{#listHeader metaData}}{{/listHeader}}
    </ul>

    
  </div><!-- /.navbar-collapse -->
  </div>
</nav>
