<div class="section row"> 

<div class="col-md-offset-2 col-md-8">
<h1><p class="text-center">Hey Guys, We are a few crazy food lovers that decided to share with you their love of good products !</p></h1>
</div>

</div>
